<!-- Interpolation -->
<h3>Current customer : {{currentCustomer}}</h3>

<p>{{title}}</p>
<div><img src="{{itemImageUrl}}"></div>

<!-- Ex. "The sum of 1 + 1 is 2 -->
<p>The sum of 1 + 1 is {{1 + 1 }}.</p>

<!-- Ex. "The sum of 1 + 1 is not 4"-->
<p>The sum of 1 + 1 is not {{1 + 1 getVal()}}.</p>

<!-- Expression context -->
<h4>{{recommended}}</h4>
<img [src]="itemImageUrl2">

<!-- template input variable -->
<ul>
	<li *ngFor= "let customer of customers">{{customer.name}}</li>
</ul>

<!-- template reference variable -->
<label>Type of something:
	<input #customerInput>{{customerInput.value}}
</label>

<!----------------------------------------------------------->

<!-- Template statements -->

<!-- statement context -->
<button (click)="deleteHero()">Delete Hero</button>

<button (click)="onSave($event)">Save</button>
<button *ngFor="let hero of heroes" (click)="deleteHero(hero)">
{{hero.name}}
</button>
<form #heroForm (ngSubmit)="onSubmit(heroForm)">...</form>

<!----------------------------------------------------------->

<!-- data-binding and HTML -->

<div class='special'>Plain old HTML</div>
<img src="images/item.png">
<button dissabled>Save</button>
<!-- Bind button disbled state to `isUnchanged` property -->
<button [disabled]= 'isUnchanged'>Save</button>

<!----------------------------------------------------------->

<!-- Property binding [property] -->

<img [src]="itemImageUrl">

<!-- Notice the colSpan property is camel case-->
<tr><td [colSpan]="2">Span 2 columns</td></tr>

<p [ngClass]="classes">[ngClass] binding to the classes property making this blue</p>

<app-item-detail [childItem]='parentItem'></app-item-detail>


