<!-- Interpolation -->
<h3>Current customer : {{currentCustomer}}</h3>

<p>{{title}}</p>
<div><img src="{{itemImageUrl}}"></div>

<!-- Ex. "The sum of 1 + 1 is 2 -->
<p>The sum of 1 + 1 is {{1 + 1 }}.</p>

<!-- Ex. "The sum of 1 + 1 is not 4"-->
<p>The sum of 1 + 1 is not {{1 + 1 getVal()}}.</p>

<!-- Expression context -->
<h4>{{recommended}}</h4>
<img [src]="itemImageUrl2">

<!-- template input variable -->
<ul>
	<li *ngFor= "let customer of customers">{{customer.name}}</li>
</ul>

<!-- template reference variable -->
<label>Type of something:
	<input #customerInput>{{customerInput.value}}
</label>

<!----------------------------------------------------------->

<!-- Template statements -->

<!-- statement context -->
<button (click)="deleteHero()">Delete Hero</button>

<button (click)="onSave($event)">Save</button>
<button *ngFor="let hero of heroes" (click)="deleteHero(hero)">
{{hero.name}}
</button>
<form #heroForm (ngSubmit)="onSubmit(heroForm)">...</form>

<!----------------------------------------------------------->

<!-- data-binding and HTML -->

<div class='special'>Plain old HTML</div>
<img src="images/item.png">
<button dissabled>Save</button>
<!-- Bind button disbled state to `isUnchanged` property -->
<button [disabled]= 'isUnchanged'>Save</button>

<!----------------------------------------------------------->

<!-- Property binding [property] -->

<img [src]="itemImageUrl">

<!-- Notice the colSpan property is camel case-->
<tr><td [colSpan]="2">Span 2 columns</td></tr>

<p [ngClass]="classes">[ngClass] binding to the classes property making this blue</p>

<app-item-detail [childItem]='parentItem'></app-item-detail>

<!----------------------------------------------------------->

<!-- Binding targets -->

<img [src]= "itemImageUrl">

<!-- bind- prefix alternative: -->
<img bind-src="itemImageUrl">
<p [ngClass]="classes">[ngClass] binding to the classes property making thhis blue</p>

<!-- Return the proper type -->
<app-item-detail [childItem]="parentItem"></app-item-detail>

<app-list-item [items]="currentItem"></app-list-item>

<!-- Remember the brackets -->
<app-item-detail childItem="parentItem"></app-item-detail>

<!-- One-time string initialization -->
<app-string-init prefix="This is a one-time initialized strinng."></app-string-init>

<!-- Property binding vs. interpolation -->
<p><img src="{{itemImageUrl}}">is the <i>interpolated</i> image.</p>
<p><img [src]="itemImageUrl">is the <i>property bound</i> image.</p>

<p><span>"{{interpolationTitle}}" is the <i>interpolated</i> title.</span></p>
<p><span [innerHTML]="propertyTitle"></span> is the <i>property bound</i>title.</p>

<!-- Content security -->
<p><span>"{{evilTitle}}" is the <i>interpolated</i> evil title.</span></p>

<!--
 Angular generates a warning for the following line as it sanitizes them
 WARNING: sanitizing HTML stripped some content (see http://g.co/ng/security#xss).
-->
<p>"<span [innerHTML]="evilTitle"></span>" is the <i>property bound</i> evil title.</p>